/* Layout utama */
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #636562, #3b3b3b);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container-custom {
    height: 100vh;
}

.main-container {
    max-width: 800px;
    border-radius: 15px;
    display: flex;
    overflow: hidden;
    background-color: #ffffff; /* Warna putih untuk main-container */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

/* Kiri */
.left {
    background: linear-gradient(135deg, #ff7043, #ff8e53);
    color: #ffffff;
    padding: 30px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.left h1 {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 10px;
}

.left p {
    font-size: 16px;
    margin-bottom: 20px;
}

.left i {
    color: rgba(255, 255, 255, 0.8);
}

/* Kanan */
.right {
    padding: 40px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.toggle-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.toggle-buttons .btn {
    width: 45%;
    padding: 10px;
    font-weight: bold;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

.active-btn {
    background-color: #636562;
    color: #fff;
}

.register-btn {
    background-color: #ddd;
    color: #636562;
}

.register-btn:hover {
    background-color: #636562;
    color: #fff;
}

/* Input */
.form-group {
    margin: 15px 0;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #4a4a4a;
}

.input-custom {
    width: 100%;
    padding: 10px;
    border: 2px solid #00bcd4;
    border-radius: 20px;
    transition: border-color 0.3s ease;
    font-size: 16px;
}

.input-custom:focus {
    border-color: #ff7043;
    outline: none;
    box-shadow: none;
}

/* Tombol Login */
.login-button {
    padding: 10px;
    border-radius: 20px;
    background-color: #636562;
    color: #fff;
    font-weight: bold;
    transition: background-color 0.3s ease;
    font-size: 16px;
    width: 100%;
    margin-top: 20px;
}

.login-button:hover {
    background-color: #ff7043;
}
